@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: rgb(245,221,218);
    background: linear-gradient(100deg, rgba(245,221,218,1) 0%, rgba(213,234,245,1) 50%);
}   

a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: inherit;
}

.cabecalho{
    display: flex;   
    flex-direction: row;  
    justify-content: space-around;  
    align-items: center;
    padding: 24px; 
}   

.cabecalho-logo{
    width: 450px;
    height: 100px;
}

.cabecalho-menu{
    display: flex;
    gap: 64px;
}

.cabecalho-menu a{
    cursor: pointer;
    transition: all 0.3 ease 0s;
}
    

.cabecalho-menu a:hover {
    color: #00a233;
}

.conteudo{
    padding-top: 32px;
    margin-bottom: 48px;
    padding-left: 500px;
    padding-right: 500px;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    align-items: justify;
    gap: 24px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
    padding-top: 48px;
    text-align: center;
}

.conteudo-principal-escrito-paragrafo{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
}

.imagem{
    display: flex;
    justify-content: center;
    width: auto;
    height: 600px;
    padding-top: 48px;
}

img{
    border-radius: 30px;
}

.paragrafo-video{
    padding-top: 64px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

iframe{
    padding-top: 48px;
}

.rodape{
    padding: 35px;
}

.rodape-imagem{
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}